h1 {
    font-size: 18px;
    border:  1px solid var(--ion-color-primary);
    padding: 8px;
    border-radius: 5px;
    color: var(--ion-color-primary);
}

.detalhes-ofertas {
    display: flex;
    align-items: center;
}
.espaco-esquerda {
    margin-left: 5px;
}

ion-text, span {
    font-size: 12px;
}